.new-employee-section {
    padding: 60px 0px;
    position: relative;
    min-height: 100vh;
}

.register-employee {
    margin-top: 20px;
    padding: 20px;
    position: relative;
    z-index: 3;
}

.register-employee {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: relative;
    z-index: 3;
}

.register-employee .form-group {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.errors span {
    font-size: 12px;
}

.register-employee label {
    margin-bottom: 10px;
    font-weight: 600 !important;
}

.register-employee input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(92, 168, 215);
}

.register-employee input.ng-dirty.ng-invalid {
    color: red
}