.admin-booking{
    padding: 60px 0px;
}
h3{
    color: rgb(12, 12, 156);
}
.search-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
}
.search-box input{
    width: 250px;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid rgb(154, 154, 154); 
}