<section class="admin-booking">

  <div class="container">
    <div class='card'>
      <div class='card-header'>
        <h3 class="text-center py-2">{{pageTitle}}</h3>
      </div>

      <div class="filter-box">
        <div class="row align-items-center">
          <div class="search-box col-xl-3 col-lg-4  col-md-6">
            <label for="Search" class="col-form-label"> Search by username</label>
            <div class="">
              <input type="text" name="searchText" class="search" [(ngModel)]="searchText" placeholder="Enter username">
            </div>
          </div>

          <div class="search-by-date  col-xl-5 col-lg-12 col-md-12">
            <label for="Search" class="col-form-label"> Search by Date</label><br>
            <div class="dates_input">

              <div class="box_input">
                <label for="Search" class="me-2"> Start Date</label>
                <input type="date" #startDate="ngModel" [(ngModel)]="dates.startDate" id="datepicker-startDate" (change)="dateFilter()">
              </div>
              <div class="box_input">
                <label for="Search" class=" mx-2"> End Date</label>
                <input type="date" #endDate="ngModel" id="datepicker-endDate"  (change)="dateFilter()" [disabled]="startDate.value==false"
                  [(ngModel)]="dates.endDate">
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-8 col-md-6 history_btn ">
            <a (click)="bookingHistory()" *ngIf="!booking_history"><button class="btn btn-secondary rounded me-3" >View Booking History</button></a>
            <a (click)="upcomingBookings()" *ngIf="!upcoming"><button class="btn btn-warning rounded">View Upcoming Bookings</button></a>
          </div>
        </div>
      </div>


      <div class='card-body'>
        <div class='table-responsive'>
          <table class='table custom-table' *ngIf='bookingdtls && bookingdtls.length '>

            <thead>
              <tr>
                <th>Username </th>
                <th>Hall Name</th>
                <th>Date</th>
                <th>TimeSlot</th>
                <!-- <th>Status</th> -->
                <th></th>
              </tr>

            </thead>
            <tbody>

              <tr *ngFor="let bookingdtls of bookingdtls |filter:searchText ">
                <td data-label="username">{{ bookingdtls.UserName }}</td>
                <td data-label="Hallname">{{ bookingdtls.HallName }}</td>
                <td data-label="Booking Date">{{ bookingdtls.DateOfBooking |date:'MMMM dd, yyyy - EEEE' }}</td>
                <td data-label="TimeSlot">{{ bookingdtls.TimeSlot }}</td>
                <td>
                  <small *ngIf="bookingdtls.DateOfBooking<todayISO" class="m-2">completed</small><br>
                  <button class="btn btn-secondary" style="cursor:pointer" *ngIf="bookingdtls.DateOfBooking<todayISO" (click)="deleteBooking(bookingdtls)">remove</button>
                  <!-- <button class="btn btn-warning" style="cursor:pointer"  (click)= "editBooking(bookingdtls)" style="margin-right:25px;"> Edit</button> -->
                 
                  <!-- <small *ngIf="bookingdtls.DateOfBooking>=todayISO" class="m-2 p-2">upcoming</small> -->
                  <button class="btn btn-danger" style="cursor:pointer" *ngIf="bookingdtls.DateOfBooking>=todayISO" (click)="deleteBooking(bookingdtls)">
                    Cancel</button>
                </td>
              </tr>
            </tbody>


          </table>
          <h5 class="text-center text-danger" *ngIf='!bookingdtls.length'>No booking details available</h5>
        </div>
      </div>
    </div>

  </div>
</section>