<section class="admin-booking">
  
    <div class="container">
      <div class='card'>
        <div class='card-header'>
         {{pageTitle}}
        </div>
          <div class="row">
            <div class="col-md-12">
              <input type="text" name="searchText" [(ngModel)] ="searchText"  placeholder="Search by username" class="search">
            </div>
          </div>
              
        <div class='card-body'>            
          <div class='table-responsive'>
            <table class='table'
                  *ngIf = 'bookingdtls && bookingdtls.length '>
              <thead>
                <tr>
                  <th>UserName </th>
                  <th>HallName</th>
                  <th>Date</th>
                  <th>TimeSlot</th>
                  <!-- <th>Status</th> -->
                </tr>
               
              </thead>
              <tbody>  
                  <tr *ngFor= "let bookingdtls of bookingdtls |filter:searchText ">
                      <td>{{ bookingdtls.UserName }}</td>
                      <td>{{ bookingdtls.HallName }}</td>
                      <td>{{ bookingdtls.DateOfBooking |date }}</td>
                      <td>{{ bookingdtls.TimeSlot }}</td>
                      <td>
                     <!-- <button type="button" class="btn btn-warning">{{ bookingdtls.Status }}</button>  -->
                      </td>
  
                      <td>
                        <!-- <button class="btn btn-warning" style="cursor:pointer"  (click)= "editBooking(bookingdtls)" style="margin-right:25px;"> Edit</button> -->
                        <button class="btn btn-danger" style="cursor:pointer" (click)= "deleteBooking(bookingdtls)"> Cancel</button>
                      </td>
                    </tr>              
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </section>
