
    <!-- <div  class="calendar" style="background-image: url(../../assets/images/room3.jpg); background-size: cover;"> -->
<div class="calendar">
        <section class="container">
    <h2 class="text-center text-dark" >Book Hall</h2>
    <full-calendar [options]="calendarOptions"></full-calendar>
    <!-- Modal -->
    <div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title text-center" id="exampleModalLabel">Book Hall</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="#" #Bookingform="ngForm" (ngSubmit)="Bookhall()">
                    
                    <select class="form-select mb-3" #date="ngModel" id="Date" [(ngModel)]="Booking_Details.Date" name="ss" required>
                    <!-- <option selected disabled value="">select Date</option> -->
                    </select> 
                <!-- <input type="text" class="form-control mb-4" id="txt-1" [(ngModel)]="Booking_Details.Date" name="Date"> -->
            <select class="form-select mb-3"  required name="Hallname" #halls="ngModel"  [(ngModel)]="Booking_Details.Hallname" required>
                    <!-- <option [ngValue]="" hidden>Select Hall</option> -->
                    <option *ngFor='let i of HallsAvailable' >{{i.HallName}}</option>
                 </select>
        
            <select class="form-select mb-4" id='mylist' name="Time" *ngIf="halls.valid" [(ngModel)]="Booking_Details.Time" (click)="checktime()" (click)="onClick()" required>      
                
                <option [ngValue]="" hidden>Select Time</option>
                <option value="{{j.TimeSlot}}" *ngFor='let j of Time' disabled="{{j.Class}}">{{j.TimeSlot}}</option> 

                <option value="10AM to 11AM">10AM to 11AM</option>
                <option value="11AM to 12AM ">11AM to 12AM</option>
                <option value="12PM to 1PM">12PM to 1PM</option>
                <option value="2PM to 3PM">2PM to 3PM</option>
                <option value="3PM to 4PM">3PM to 4PM</option>
                <option value="4PM to 5PM">4PM to 5PM</option>
                
                <option value="2PM to 3PM">2PM to 3PM</option>
                <option value="3PM to 4PM">3PM to 4PM</option>
                <option value="4PM to 5PM">4PM to 5PM</option>
            </select>
              <input type="submit" [disabled]="Bookingform.invalid" value="Book Hall"class="btn btn-primary">
              <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                 </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
</section>
</div>