<!-- <div  class="calendar" style="background-image: url(../../assets/images/room3.jpg); background-size: cover;"> -->
<div class="calendar">
  <section class="container">
    <h2 class="text-center text-dark">Book Hall</h2>
    <full-calendar [options]="calendarOptions" id="calendar"></full-calendar>
    <!-- Modal -->
    <div class="modal fade " id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
      data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- <div class="modal-header">
             
              
            </div> -->
          <div class="modal-body">
            <form method="post" id="BookingForm" action="#" #Bookingform="ngForm" (ngSubmit)="Bookhall()">
              <h4 class="modal-title text-center" id="exampleModalLabel">Book Hall</h4>
              <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
              <select class="form-select mb-3"  #date="ngModel" id="Date"  [(ngModel)]="Booking_Details.Date" name="Date" required>
      
              </select>

              <select class="form-select mb-3"  [disabled]="date.valid==false"  required name="Hallname" #halls="ngModel"
                [(ngModel)]="Booking_Details.Hallname" required>
                <option selected disabled  [ngValue]=''>select Hall</option>
                <option *ngFor='let i of HallsAvailable'>{{i.HallName}}</option>
              </select>
              
              <select class="form-select mb-4" (change)="checktime()" id='time' name="Time" [disabled]="halls.valid==false" [(ngModel)]="Booking_Details.Time" required> 

                <option value="Select Time" selected disabled>Select Time</option>
                <option value="10AM to 11AM">10AM to 11AM</option>
                <option value="11AM to 12AM">11AM to 12AM</option>
                <option value="12PM to 1PM">12PM to 1PM</option>
                <option value="2PM to 3PM">2PM to 3PM</option>
                <option value="3PM to 4PM">3PM to 4PM</option>
                <option value="4PM to 5PM">4PM to 5PM</option>
              </select>
              <small class="mt-1 error-msg"  *ngIf="error">Timeslot not Available</small>
              <div class="btn-box">
                <button type="reset" style="text-transform: uppercase;" class="btn btn-danger  me-3 " data-bs-dismiss="modal">Cancel</button>
                <input type="submit" style="text-transform: uppercase;" data-bs-dismiss="modal" [disabled]="Bookingform.invalid || error" value="Book Hall" class="btn btn-success">
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</div>