<nav class="navbar navbar-dark navbar-expand-lg" id="nav">
  <div class="container">
    
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/logo.jpg" alt="ict" width="60" height="50">
      <h4 style="color: #F8C8C6;padding-right: 15px;padding-left: 15px;" class="title_h4">{{title}}</h4>
    </a>

     
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link text-white"  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!_auth.adminLoggedIn() && !_auth.userLoggedIn()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/userLogin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!_auth.adminLoggedIn() && !_auth.userLoggedIn()" >User-Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/adminLogin" routerLinkActive="active" *ngIf="!_auth.adminLoggedIn() && !_auth.userLoggedIn()">Admin-Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink ="/adminDashboard" routerLinkActive="active" *ngIf="_auth.adminLoggedIn() && !(is_user())" >Admin Dashboard</a>
        </li>
        
        
        <!-- <li class="nav-item dropdown ms-3"  *ngIf="_auth.adminLoggedIn() && !(is_user())">
          <a class="nav-link dropdown-toggle dropdown-admin text-white" routerLinkActive="active"  id="navbarDropdown_hall" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="user_span">Hall Management</span>
          </a>
          <ul class="dropdown-menu" routerLinkActive="active" aria-labelledby="navbarDropdown_hall" >
            <li><a class="dropdown-item" href="#" routerLinkActive="active" routerLink="/AddHall">Add Hall</a></li>
            <li><a class="dropdown-item" routerLink="/Halls" routerLinkActive="active">Hall details</a></li>
          </ul>
        </li> -->

        <li class="nav-item">
          <a class="nav-link text-white"  routerLink ="/userbooking" routerLinkActive="active" *ngIf ="is_user()" > User Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink ="/calendar" routerLinkActive="active" *ngIf ="is_user()"> Book Hall</a> 
         </li>
          <li class="nav-item" *ngIf="_auth.adminLoggedIn() && !(is_user())" >
          <a class="nav-link text-white" href="#" routerLinkActive="active" (click)="logoutAdmin()" >Logout</a>
        </li>
      </ul>
    </div>
    
    <li class="nav-item dropdown user_name ms-3"  *ngIf="is_user()" >
      <img src="../../assets/images/user.png" class="user-img">
      <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"aria-expanded="false">
      <span class="user_span">{{_auth.username}}</span>
      </a>
      <ul class="dropdown-menu" routerLinkActive="active" *ngIf="is_user()"  aria-labelledby="navbarDropdown" >
       
        <li><a class="dropdown-item username_mobile" href="#"><b>{{_auth.username}}</b></a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logoutUser()" href="#">Logout <i class='fas fa-power-off text-danger ms-auto px-2' style='font-size:14px'></i></a></li>
      </ul>
    </li>
  </div>
</nav>



