<nav class="navbar navbar-expand-lg"id="nav">
  <div class="container-fluid">
      <img src="/assets/images/logo.jpg" alt="ict" width="80" height="70">
      <h3 style="color: #F8C8C6;padding-right: 25px;padding-left: 15px;">{{title}}</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link text-white"  style="font-size: large;" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" routerLink="/userLogin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!_auth.loggedIn()" >User-Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" routerLink="/adminLogin" routerLinkActive="active" *ngIf="!_auth.loggedIn()">Admin-Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" routerLink="/Halls" routerLinkActive="active" *ngIf="_auth.loggedIn() && !(is_user())">Halls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" routerLink="/AddHall" routerLinkActive="active" *ngIf="_auth.loggedIn() && !(is_user())">Add Hall</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;"  *ngIf ="is_user()"  routerLink ="/userbooking"> User Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" style="font-size: large;" *ngIf ="is_user()" routerLink ="/calendar"> Book Hall</a> 
         </li>
         <li class="nav-item">
          <a class="nav-link text-white"  style="font-size: large; cursor:pointer" routerLinkActive="active" *ngIf="is_user()" (click)="logoutUser()" >Logout</a>
        </li>
          <li class="nav-item">
          <a class="nav-link text-white"  style="font-size: large; cursor:pointer" routerLinkActive="active" *ngIf="_auth.loggedIn() && !(is_user())" (click)="logoutAdmin()" >Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



