#nav{
    background-color: #6474E5;
    padding: 15px 0px;
}
.user-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
    padding: 0px 15px;
}