<div class="footer">
    <div class="container">
        <div class="footer-inner">
            <ul class="social-media-ul justify-content-center mb-0">
                <li><a href=""><img src="../../assets/images/twitter.png"></a></li>
                <li><a href=""><img src="../../assets/images/facebook.png"></a></li>
                <li><a href=""><img src="../../assets/images/behance.png"></a></li>
            </ul>
            <p class="mb-0">Copyright © 2022 ICT Academy of Kerala.  All rights reserved.</p>
        </div>
    </div>
</div>