<div class="card" id="sect1">
    <div class="container my-5 py-5">
      <div class="row row-cols-1 row-cols-md-3"> 
          <div class="col"></div>
          <div class="col"></div>
          <div class="flip-card align-items-center">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img class="card-img-top my-5 img-fluid" src="/assets/images/login2.png" alt="Avatar">
                </div>
                <div class="flip-card-back">
                  <div class="card-header">
                      <h3>User Login</h3>
                    </div>
                    <div class="card-body">
                      <form class="form mx-2" #userlogin="ngForm" (ngSubmit)="loginUser()">
                        <div class="form-group">
                          <label for="username">Username</label>   
                          <input type="text" placeholder="Enter username" class="form-control" [(ngModel)]="User.username" name="username" #username="ngModel" required>
                        </div>
                        <div class="form-group">
                          <label for="password">password</label>
                          <input type="password"  placeholder="Enter your password" class="form-control" [(ngModel)]="User.password" #password="ngModel"  name="password" required> 
                        </div>
                        <small class="my-3 error-msg" *ngIf="error_msg">Invalid Username or Password</small>
                        <br>
                        <button class="btn" id="btn1" [disabled]="userlogin.form.invalid">LogIn  </button>
                      </form>
                    </div>
                </div>
              </div>
            </div>
          <div class="col"></div>
      </div> 
   </div>
  </div>
  
  
        