.new-employee-section{
    padding: 60px 0px;
    position: relative;
    min-height: 100vh;
}
.collapsetable{
    border-collapse: collapse;
    border: 2px solid blue;
    }
td[data-label="Email"]{
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}