/* You can add global styles to this file, and also import other style files */
ul{
    list-style: none;
}
.def-form{
    background-color: rgba(20, 30, 73, 0.7);
    z-index: 4;
    position: relative;
    border-radius: 20px;
    max-width: 550px;
    margin: auto;
    padding: 35px 25px;
    color: #fff;
}
.submitt-btn{
    width: 100%;
    max-width:180px;
    left: 100%;
    position: relative;
    transform: translatex(-100%);
}
.error-msg{
background-color: #a23843;
color: #ffffff;
padding: 4px 8px;
display: inline-flex;
align-self: baseline;
}
.inner-bg{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    z-index: 2;
    filter: blur(0.3px) grayscale(0.6);
}

.fc .fc-scrollgrid-section-body table{
    background-color: #ffffff;
}
.fc-col-header-cell a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.fc-theme-standard td{
  border: 0px !important;
}
.fc-col-header-cell {
    background-color: rgb(36, 36, 36);
    padding: 25px !important;
    border: 1px solid rgb(255, 0, 0) !important;
}
.fc .fc-scrollgrid {
    border: 1px solid black !important;
    border-radius:10px;
    overflow: hidden;
  }
  .fc .fc-daygrid-day-top {
    justify-content: center !important;
    align-items: center;
  }
  .fc .fc-daygrid-day-top a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(36, 36, 36);
  }
  .fc td{
    vertical-align: middle !important;
  }
  .fc-today-button{
    display: none !important;
  }
/* .fc-button-group{
    position: absolute !important;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin-left: 0px !important;
    justify-content: space-between;
    padding: 0px 15px;
} */
.fc-header-toolbar{
    position: relative;
    margin-bottom: 0px !important;
    padding: 20px 0px;
    justify-content: center !important;
    color: #fff;
}
.fc-button-primary{
    /* max-width: 50px !important; */
    background-color: #fff !important;
    border-radius: 10px !important;
    color: rgb(61, 61, 61) !important;
}
.fc-button-primary:disabled{
    opacity: 0 !important;
}
.fc-direction-ltr {
    margin: 46px auto;
    background-color:  rgb(36, 36, 36);
    overflow: hidden;
    border-radius: 10px;
    max-width: 700px;
min-height: 700px !important;

  }
  @media (max-width:768px) {
    .fc-col-header-cell{
        padding: 20px 0px !important;
    }
    
.fc-direction-ltr {
    max-width: 500px;
min-height: 400px !important;

  }
  .fc .fc-daygrid-day-top a{
    font-size: 16px;
  }
  }
  /* .fc-liquid-hack td [data-date="2022-08-09"]{
    background-color: red;
    pointer-events: none !important;
  } */