<div class="new-employee-section" >
    <div class="inner-bg" style="background-image: url('../../assets/images/room.jpg');"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-sm-10 col-lg-6 col-xl-4 register-employee">
          <!-- form card register -->
          <div class="card-body">
            <h2 class="text-center mb-5">Add New Employee</h2>  
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" formControlName="name" />
                <!-- error -->
                <div class="errors" style="margin-top:10px;" *ngIf="employeeForm.get('name').hasError('required') && employeeForm.get('name').touched">
                  <span *ngIf="employeeForm.get('name').hasError('required')" style="color: red; ">Name is Required</span> 
                </div>
              </div>
    
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" formControlName="email" />
                <!-- error -->
                <div class="errors" style="margin-top:10px;" >
                  <span *ngIf="employeeForm.get('email').hasError('required') && employeeForm.get('email').touched" style="color: red; ">Email is Required</span> 
                  <span *ngIf="employeeForm.get('email').hasError('pattern')  && employeeForm.get('email').touched" style="color: red;">Follow the Pattern</span> 
                </div>
              </div>
              
              <div class="form-group">
                <label for="username">username</label>
                <input class="form-control" type="text" formControlName="username" (keyup)="usernameAvailability()"/>
                <!-- error -->
                <div class="errors" style="margin-top:10px;">
                  <span *ngIf="usernameavailability" style="color: red; ">username not available</span> 
                  <span *ngIf="employeeForm.get('username').hasError('required')  && employeeForm.get('username').touched" style="color: red; ">username is Required</span> 
                  <span *ngIf="employeeForm.get('username').hasError('minlength') && employeeForm.get('username').touched" style="color: red; ">Minimum length is 6</span> 
                </div>
              </div>
              
              <div class="form-group">
                <label for="Department">Department</label>
                <input class="form-control" type="text" formControlName="Department" />
                <!-- error -->
                <div class="errors" style="margin-top:10px;">
                  <span *ngIf="employeeForm.get('Department').hasError('required') && employeeForm.get('Department').touched" style="color: red; ">Department is Required</span> 
                  <span *ngIf="employeeForm.get('Department').hasError('minlength') && employeeForm.get('Department').touched" style="color: red; ">minimum length is 3</span> 
                </div>
              </div>
              
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="password"
                />
                <!-- error -->
                <div class="errors" style="margin-top:10px;">
                  <span *ngIf="employeeForm.get('password').hasError('required') && employeeForm.get('password').touched" style="color: red; ">Password is Required</span> 
                  <span *ngIf="employeeForm.get('password').hasError('pattern') && employeeForm.get('password').touched" style="color: red; font-size: 12px;">password must contain uppercase character,lowercase character,digit ,special character and minimum length of 8</span> 
                </div>
              </div>
              <br>
              <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="employeeForm.invalid  || usernameavailability">
                  Register
                </button>
              </div>
            </form>
          </div>
        <!-- form card register -->
      </div>
    </div>
  </div>