<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carousel-custom">
        <div class="carousel-item active"  style="background-image: url('/assets/images/room3.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="carousel-caption">
                    <h3 class="text">All your conference room bookings in one place</h3>
                    <h5>Login to continue</h5>
                    <hr>
                    <a routerLink="/userLogin">
                        <button class="btn btn-blue rounded-pill text-uppercase">Login</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="carousel-item" style="background-image: url('/assets/images/room2.jpg')">
            <div class="overlay"></div>
            <div class="carousel-caption">
                <h3 class="text">All your conference room bookings in one place</h3>
                <h5>Login to continue</h5>
                <hr>
                <a routerLink="/userLogin"><button class="btn btn-blue rounded-pill text-uppercase" >Login</button></a>
            </div>
        </div>

        
        <div class="carousel-item" style="background-image: url('/assets/images/room1.jpg')">
            <div class="overlay"></div>
            <div class="carousel-caption">
                <h3 class="text">All your conference room bookings in one place</h3>
                <h5>Login to continue</h5>
                <hr>
                <a routerLink="/userLogin"><button class="btn btn-blue rounded-pill text-uppercase">Login</button></a>
            </div>
        </div>
        


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>