<div class="new-hall-section" >
    <div class="inner-bg" style="background-image: url('../../assets/images/room.jpg');"></div>
    <div class="container">
        <form class="new-hall-form def-form" (ngSubmit)="Addhall()"  #newHall="ngForm"  method="POST"
        enctype="multipart/form-data">
        <h2 class="text-center mb-5">Add New Hall</h2>  
            <div class="form-group">
                <label>Hall name <span class="text-danger">*</span></label>
                <input type="text" name="Hallname" id="Hallname" #hallname="ngModel"  [(ngModel)]="NewHall.HallName" [class.is-invalid]="hallname.invalid && hallname.touched" required>
                <small class="mt-2 error-msg" *ngIf="hallService.hall_exist">Hall name already exist | Choose another name</small>
                <small class="mt-2 error-msg" *ngIf="hallname.invalid && hallname.touched">Hall name Required</small>
            </div>
    
            <div class="form-group">
                <label>No. of seats <span class="text-danger">*</span></label>
                <input type="number" name="seats" #seats="ngModel" min="0" [(ngModel)]="NewHall.Seats" [class.is.inavlid]="seats.invalid && seats.touched" required>
                <small class="mt-2 error-msg" *ngIf="seats.invalid && seats.touched">Enter total no. of seats available</small>
            </div>
            
            <div class="form-group">
                <label>Location</label>
                <input type="text" name="location" [(ngModel)]="NewHall.Location">
            </div>
            
            <div class="form-group mb-4">
                <label>Hall image Url</label>
                <input type="text" name="Hall-img-url" [(ngModel)]="NewHall.Image">
            </div>
    
            <input type="submit" value="Add new hall" [disabled]="newHall.form.invalid" class="btn btn-warning submitt-btn mt-2">
        </form>  
    </div>


    <!-- <form>      
        <div>
          <input type="file" name="image" (change)="selectImage($event)" />
        </div>
        <br>
        <div>
          <button type="submit" (click)="onSubmit()">Upload</button>
        </div>
      </form> -->
</div>